@custom-variant dark (&where(.dark, .dark *));


@import "./variables.css";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  body {
    @apply relative font-normal bg-blue-50 text-gray-600 font-outfit dark:bg-gray-dark dark:text-gray-300;
  }
}